{{#partial "content"}}

    <div class="container mb-5 pb-5 mt-5">
        <h1 class="display-5">Hero list</h1>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {{#if heros}} <!--if posts exist, then -->
                {{#each heros}} <!--loop-->
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img"
                                 aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <rect width="100%" height="100%" fill="#55595c"></rect></svg>
                            <div class="card-body">
                                <p class="card-text">{{name}}</p>
                                <p class="card-text">{{age}}</p>
                                <p class="card-text">{{specialPowers}}</p>
                                <p class="card-text">{{weakeness}}</p>
                            </div>
                        </div>
                    </div>
                {{/each}}
            {{else}} <!--no posts!-->
                <p>No Heros yet!</p>
            {{/if}}
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}